search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 1.5rem;
  padding-top: calc(var(--gutter) * 1.5);
  padding-bottom: calc(var(--gutter) * 4);

  a {
    color: var(--color-primary-accent);
  }

  article {
    align-self: start;
    padding: 16px 20px;
    border-radius: 4px;
    box-shadow: var(--shadow-md);
    background-color: var(--color-primary-light);
  }

  .address {
    font-size: .875rem;
    line-height: 150%;
    color: var(--color-text-md);
  }

  .name {
    font-size: 1.25rem;
    line-height: 1.25;
    padding: 0.5rem 0;
  }
}