.site-hero {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: var(--gutter);
  padding-top: calc(var(--gutter) * 2);

  .title {
    width: 50%;
  }

  h1 {
    font-size: clamp(2rem, 6vw, 4.25rem);
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
  }

  .image-wrapper {
    width: 45%;
    padding-left: 5%;
  }
}

@media screen and (max-width: $screen-md) {
  .site-hero {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: var(--gutter);

    .title,
    .image-wrapper {
      width: 100%;
    }

    .image-wrapper {
      padding-bottom: 5%;
      padding-left: 0;
    }
  }
}
